header ul {
  list-style: none;
  float: right;
}

header ul li a {
  text-decoration: none;
}

header ul li {
  display: inline-block;
}

nav#main ul {
  float: none;
  margin: 0;
  padding: .5em;
  text-decoration: none;
  height: inherit;
}

/*nav#main:after {
  clear: both;
}
*/



nav#main {
  height: 100%;
}

nav#main ul li a {
  text-decoration: none;
  padding: 0 8% 0 0;
}

nav#main ul li {
  margin: 1% 1.5%;
  display: inline-block;
}

/**************************************
GRID
**************************************/

body {
  padding: 0;
  margin: 0 0em 10em 0em;
}

header nav ul {
  padding: 0 8%;
  height: 2.5em;
}

header nav ul li { 
  margin: 1% 0%;
}

#header_section img {
  float: left;
  margin-bottom: 1em;
  padding: 10px;
}


header section div#header_div {
  max-width: 100%;
  max-height: 100%;
}


#headerimage {
  float: left;
  position: top;
  /*clear: right;*/
}

#header_section {
  /*display: block;*/
  min-height: 290px;
  padding-bottom: 30px;
  width: 100%;
}


#header_div {
  /*float: right;*/
  margin: 0;
  padding: 0 auto 3em;
  width: 100%;
}

#header_right {
  float: right;
  /*max-width: 50%;*/
  clear: both;
}

#header_right nav {
  margin-top: 0px;
}


#header_right nav ul li {
  display: inline-block;
  margin: 0 auto 60px auto;
  padding: auto;
}


h1 {
  display: inline-block;
  clear: left;
  margin-bottom: 0;
}


h3 {  /*
  float: right; */
  clear: both;
  margin-bottom: 50px;
  margin-top: 50px;
}

header {
  margin: 0;
  padding-top: 4em;
}


/*
h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
}*/

#main ul {
  text-align: center;
}


#main ul li a {
  padding: 0 15%;
}

section {
  padding: 2em;
  margin: 0 auto;
  max-width: 80%;
  /*min-width: 500px;*/
}

#header_section {
  border-radius: 30px 30px 0 0;
  clear: both;
}

div.left_column {
  float: left;
  clear: none;
  max-width: 45%;
  /*width: 50%;*/
  padding: 1em 0 3em 0;
  margin: 2em 0 1em 0;
  display: inline-block;
}

#body_section div.left_column a {
  float: right;
  clear: right;
  text-decoration: none;
  margin-right: 5%;
}

div img {
  clear: left;
  display: inline-block;
}

div p {
  clear: both;
  float: none;
  display: inline-block;
}

#baby_photos {
  clear: none;
  float: right;
  list-style: none;
  padding: 0 0 0 4em;
  margin-bottom: 1em;
  width: 45%;
  display: inline-block;	
}

#baby_photos li img {
  max-width: 100%;
  padding: 0 0%; 
}

ul#social_media {
  list-style: none;
  padding: 0 2%;
  clear: both;
  margin-top: 120px;
  padding-top: 120px;
  min-height: 240px;
}

ul#social_media li {
  display: inline-block;
  max-width: 24%;
  padding: 0;
  margin-right: auto;
}

ul#social_media img {
  max-width: 100%;
}

#body_section {
  min-height: 500px;
  border-radius: 0 0 30px 30px;
}

footer nav ul li a {
  text-decoration: none;
  padding: 0 1.5em;
}

footer nav ul li {
  list-style: none;
  display: inline-block;
  text-align: center;
}

footer nav ul {
  text-align: center;
}









/*******************************************
COLORS
*******************************************/

body { background-color: #69c4cc; }

header { background-color: #d5f2f1}

nav#main { background-color: #f3cecd; }

section { background-color: #fff; }

h1 { color: #732e88; }

h1 span { color: #f20188; }

h3 { color: #93cacf; }

header nav ul li a { color: #639ba2; }

nav#main ul li a { color: #601c4a; }

footer nav ul li a { color: #c9e6e7; }

h2 { color: #99b63d; }

#body_section div p { color: #93cad1; }

#body_section div.left_column a {
	background-color: #e9168c;
	border-radius: 18px;
	padding: .5em 2em;
	color: white;
}

header section nav ul li a { color: white; }

#about { background-color: #6eccd1; border-radius: 16px; padding: .5em 2em;}

#contact { background-color: #89b749; border-radius: 16px; padding: .5em 2em;}

#blog { background-color: #732e89; border-radius: 16px; padding: .5em 2em;}

#press { background-color: #f20188; border-radius: 16px; padding: .5em 2em;}










/*****************************************
FONTS
*****************************************/


h1 { font-size: 2.75em; font-weight: none; }

div p { font-size: 1.5em; } 


a {
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: none; 
}


h1, h2, h3 {
  font-family: 'Corben', cursive;
}



nav#main ul li a { 
  font-family: 'Corben', cursive;
  font-weight: 700;
 }


/**************************************(
LOGIN
**************************************/
/*
.login-modal {
  display: none;
}
*/

.login-form {
  border: 2px solid #000;
  width: 200px;
  margin: 0 auto;
  text-align: center;
  position: absolute;
  top: 40%;
  left: 50%;
  margin-left: -100px;
  background-color: lightblue;
}





.lightbox {
  background: #000;
  opacity: .5;
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.hidden {
  display: none;
}


/*************************************************
Buy Page
**************************************************/

.img-gallery li img {
  max-width: 100%;
  max-height: 100%;
  float: left;
  clear: right;
  display: inline-block;
}

.img-gallery li {
  max-width: 25%;
  max-height: 25%;
  display: inline-block;
}







/*****************************************
RESPONSIVE DESIGN
*****************************************/


@media screen and (max-width: 800px) {
	
  ul#baby_photos {
    display: none;
    margin: 0;
    padding: 0;
  }


  #body_section {
    margin: auto;
  }

  div.left_column {
    min-width: 70%;
    max-width: 100%;
    max-height: 50%;
    float: none;
    margin: auto; 
    padding: 5%;
  }

  .left_column a {
    float: left;
    clear: both;
    text-align: center;
    margin: auto 0 auto 10%;
  }

  #body_section {
    height: 100%;
    width: 100%;
  }

  #social_div {
    min-width: 100%;
    min-height: 260px;
    content: "";
    align: center;
  }

 
  ul#social_media {
    margin: 0;
    padding: 10%;
    min-width: 100%;
    min-height: 240px;
    align-content: center;
  }


  ul#social_media li {
    max-width: 100%;
    min-width: 47.5%;
    margin: 0;
    float: left;
    text-align: center;
    padding: 0%;
  }

  
  
  ul#social_media li:nth-child(odd) {
    clear: left;
    margin: 0 5% 0 0;
  }

  ul#social_media li img {
    align-content: center;
    width: 47.5%;
  }

  ul#social_media li a {
    margin: 0;
    padding: 0;
  }

}






